<?xml version="1.0" encoding="UTF-8"?>


<b:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:context="http://www.springframework.org/schema/context"
	xmlns:b="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	                        http://www.springframework.org/schema/context	http://www.springframework.org/schema/context/spring-context-3.2.xsd
	                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">
    <!-- white list -->
    <http pattern="/html/**" security="none" />
	<http pattern="/images/**" security="none" />
	<http pattern="/css/**" security="none" />
	<http pattern="/js/**" security="none" />
	<http pattern="/favicon.ico" security="none" />
	<http pattern="/request4Adding/**" security="none" />
	<http pattern="/Shibboleth.sso/Login" security="none" />
	<http pattern="/viewer/**" security="none" />
    <http pattern="/meditor/hosted.html" security="none" />

	<!-- filters chain -->
	<http auto-config="true" use-expressions="true" disable-url-rewriting="true">
		<intercept-url pattern="/src/main/security" access="isAuthenticated()" />
		<intercept-url pattern="/gwt/**" access="isAuthenticated()" />
		<intercept-url pattern="/**/*.html" access="isAuthenticated()" />
		<intercept-url pattern="/src/main/security" access="isAuthenticated()" />
		<form-login login-page="/html/login.html" default-target-url="/meditor"/>
		<!--&lt;!&ndash;<custom-filter before="PRE_AUTH_FILTER" ref="janrainAuthenticationFilter" />&ndash;&gt;-->
		<!--&lt;!&ndash;<custom-filter position="PRE_AUTH_FILTER" ref="shibbolethAuthenticationFilter" />&ndash;&gt;-->
		<custom-filter after="PRE_AUTH_FILTER" ref="ldapAuthenticationFilter" />
		<!--<custom-filter position="CHANNEL_FILTER" ref="channelProcessingFilter" />-->
	</http>

    <context:annotation-config />

	<context:component-scan base-package="com.gwtplatform.dispatch.server.spring, cz.mzk.editor.shared.rpc,
		cz.mzk.editor.server" />

	<!--WORKAROUND for error "No qualifying bean of type [com.gwtplatform.dispatch.server.spring.actionvalidator.DefaultActionValidator] is defined"-->
	<b:bean class="com.gwtplatform.dispatch.server.spring.actionvalidator.DefaultActionValidator" />

	<b:bean class="cz.mzk.editor.server.UserProvider" />

	<b:bean id="HtmlServletImpl" class="cz.mzk.editor.server.HtmlServletImpl" />


    <b:bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>


    <b:bean id="ldapAuthenticationProvider"
		class="cz.mzk.editor.server.LDAP.LDAPAuthenticationProvider" />

	<b:bean id="janrainAuthenticationProvider"
		class="cz.mzk.editor.server.janrain.JanrainAuthenticationProvider">
	</b:bean>

	<b:bean id="shibbolethAuthenticationProvider"
		class="cz.mzk.editor.server.shibboleth.ShibbolethAuthenticationProvider">
	</b:bean>

    <b:bean id="logInOutDAO" class="cz.mzk.editor.server.DAO.LogInOutDAOImpl" />
    <b:bean id="securityUserDAO" class="cz.mzk.editor.server.DAO.SecurityUserDAOImpl" />

    <b:bean id="janrainClient" class="cz.mzk.editor.server.janrain.JanrainClient" />
    <b:bean id="shibbolethClient" class="cz.mzk.editor.server.shibboleth.ShibbolethClient" />

	<authentication-manager alias="authenticationManager">
		<authentication-provider ref="ldapAuthenticationProvider" />
		<authentication-provider ref="janrainAuthenticationProvider" />
		<authentication-provider ref="shibbolethAuthenticationProvider" />
	</authentication-manager>

	<b:bean id="ldapAuthenticationFilter"
		class="cz.mzk.editor.server.LDAP.LDAPAuthenticationFilter">
		<b:property name="authenticationManager" ref="authenticationManager" />
	</b:bean>

	<b:bean id="janrainAuthenticationFilter"
		class="cz.mzk.editor.server.janrain.JanrainAuthenticationFilter">
		<b:property name="authenticationManager" ref="authenticationManager" />
	</b:bean>

	<b:bean id="shibbolethAuthenticationFilter"
		class="cz.mzk.editor.server.shibboleth.ShibbolethAuthenticationFilter">
		<b:property name="authenticationManager" ref="authenticationManager" />
	</b:bean>

	<b:bean class="cz.mzk.editor.server.guice.ServerModule"/>

	<b:bean id="logger" class="com.gwtplatform.dispatch.server.spring.LoggerFactoryBean">
		<b:constructor-arg>
			<b:bean class="java.util.logging.Logger" factory-method="getAnonymousLogger">
				<b:property name="level">
					<b:value>FINEST</b:value>
				</b:property>
			</b:bean>
		</b:constructor-arg>
	</b:bean>

	<b:bean id="channelProcessingFilter"
		class="org.springframework.security.web.access.channel.ChannelProcessingFilter">
		<b:property name="channelDecisionManager" ref="channelDecisionManager" />
		<b:property name="securityMetadataSource">
			<filter-security-metadata-source path-type="ant">
				<intercept-url pattern="/src/main/security" access="REQUIRES_SECURE_CHANNEL" />
			</filter-security-metadata-source>
		</b:property>
	</b:bean>

	<b:bean id="channelDecisionManager"
		class="org.springframework.security.web.access.channel.ChannelDecisionManagerImpl">
		<b:property name="channelProcessors">
			<b:list>
				<b:ref bean="secureChannelProcessor" />
				<b:ref bean="insecureChannelProcessor" />
			</b:list>
		</b:property>
	</b:bean>

	<b:bean id="secureChannelProcessor"
		class="org.springframework.security.web.access.channel.SecureChannelProcessor" />
	<b:bean id="insecureChannelProcessor"
		class="org.springframework.security.web.access.channel.InsecureChannelProcessor" />

	<b:bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close" >
		<!-- These properties are replaced by Maven "resources" -->
		<!--<b:property name="url" value="jdbc:postgresql://localhost:5432/meditor" />-->
		<b:property name="url"
					value="jdbc:postgresql://#{editorConfigurationImpl.getDBHost()}:#{editorConfigurationImpl.getDBPort()}/#{editorConfigurationImpl.getDBName()}" />
		<b:property name="driverClassName" value="org.postgresql.Driver" />
		<b:property name="username" value="#{editorConfigurationImpl.getDBLogin()}" />
		<b:property name="password" value="#{editorConfigurationImpl.getDBPassword()}" />
	</b:bean>

	<!-- Configure Spring's transaction manager to use a DataSource -->
	<b:bean id="transactionManager"
		  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<b:property name="dataSource" ref="dataSource" />
	</b:bean>

	<!-- Configure jOOQ's ConnectionProvider to use Spring's TransactionAwareDataSourceProxy,
         which can dynamically discover the transaction context -->
	<b:bean id="transactionAwareDataSource"
		  class="org.springframework.jdbc.datasource.TransactionAwareDataSourceProxy">
		<b:constructor-arg ref="dataSource" />
	</b:bean>

	<b:bean class="org.jooq.impl.DataSourceConnectionProvider" name="connectionProvider">
		<b:constructor-arg ref="transactionAwareDataSource" />
	</b:bean>

	<!-- Configure the DSL object, optionally overriding jOOQ Exceptions with Spring Exceptions -->
	<b:bean id="dsl" class="org.jooq.impl.DefaultDSLContext">
		<b:constructor-arg ref="config" />
	</b:bean>


	<!-- Invoking an internal, package-private constructor for the example
         Implement your own Configuration for more reliable behaviour -->
	<b:bean class="org.jooq.impl.DefaultConfiguration" name="config">
		<b:constructor-arg index="0" ref="connectionProvider" />
		<b:constructor-arg index="1"><b:null /></b:constructor-arg>
		<b:constructor-arg index="2"><b:null /></b:constructor-arg>
		<b:constructor-arg index="3"><b:null /></b:constructor-arg>
		<b:constructor-arg index="4"><b:null /></b:constructor-arg>
		<b:constructor-arg index="5"><b:value type="org.jooq.SQLDialect">POSTGRES_9_3</b:value></b:constructor-arg>
		<b:constructor-arg index="6"><b:null /></b:constructor-arg>
		<b:constructor-arg index="7"><b:null /></b:constructor-arg>
	</b:bean>

</b:beans>
